@model IEnumerable<Project_.Models.Donation>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Styles/style.css">
<body>


    @*Here the Clients can browse as they need throughout our website.*@


    <link rel="stylesheet" href="~/Styles/style.css">


    <div class="image"><img src="~/Images/image-asset.jpeg" style="width: 100%;height:300%"></div>
    <nav>
        <a class="Maktabty" href="~/Books/adminBooks_after_login">Maktabty</a><img src="~/Images/phone.png" style="width: 15px; height:15px;position: absolute;left:290px;top: 21px;">
        <a class="links" href="~/Users/ContactUs">Contact Us</a><img src="~/Images/info.png" style="width: 15px; height:15px;position: absolute;left:400px;top: 21px;">
        <a class="links" href="~/Users/AboutUs" style="margin-right: 500px;">About Us</a>


    </nav>



    <table style="width:80%;  position:absolute; top:100px; border-block-end:solid ; border-block-end-color:white">

        <tr>
            <th>
                <div style="color:white; font-size:x-large; font-wight:300; margin-bottom:10%"> @Html.DisplayNameFor(model => model.Amount)</div>
</th>
            <th>
                <div style="color:white; font-size:x-large; font-wight:300; margin-bottom:10%"> @Html.DisplayNameFor(model => model.Date)</div>
</th>
            <th>
                <div style="color:white; font-size:x-large; font-wight:300; margin-bottom:10%"> @Html.DisplayNameFor(model => model.User.Name)</div>
</th>
            <th>
                <div style="color:white; font-size:x-large; font-wight:300; margin-bottom:10%"> @Html.DisplayNameFor(model => model.TransactionID)</div>
</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>

                    <div style="color:white; font-size:x-large; font-wight:300; margin-inline:40%">@Html.DisplayFor(modelItem => item.Amount)</div>
                </td>
                <td>
                    <div style="color:white; font-size:x-large; font-wight:300; margin-inline:40%"> @Html.DisplayFor(modelItem => item.Date)</div>
                </td>
                <td>
                    <div style="color:white; font-size:x-large; font-wight:300; margin-inline:40%"> @Html.DisplayFor(modelItem => item.User.Name)</div>
                </td>
                <td>
                    <div style="color:white; font-size:x-large; font-wight:300; margin-inline:40%">  @Html.DisplayFor(modelItem => item.TransactionID)</div>
                </td>
            </tr>
            
        }
    </table>
